.wrapper {
    /*width: 50%;
    margin: auto;*/
}

.blue {
    width: 50px;
    height: 50px;
    background-color: rgb(68, 133, 242);
    margin: 7px;
    /*padding-bottom: 5%;*/
    display: inline-block;
}

.top {
    /*display: flex;*/
    width: 50%;
    height: 50px;
    border: 2px solid rgb(68, 133, 242);
    margin: auto;
    padding: 7px;
}