.container {
    font-family: 'Open Sans', sans-serif;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    display: flex;
    background-color: lightgreen;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    /*width: 100%;*/
    margin: auto;
    /*position: fixed;*/
    top: 0px;
    z-index: 100;
    /*padding-bottom: 10px;*/
    padding-top: 5px;
    margin-top: -10px;
}


/*label {
    margin-left: 25%;
}*/

#terms {
    margin-left: 25%;
}

h1 {
    margin-bottom: 30px;
}

p {
    text-align: center;
    margin-right: 10px;
}

.title {
    text-align: center;
}

a {
    text-decoration: none;
}

.nav {
    width: 55px;
    text-align: center;
    margin: auto;
    padding: 5px;
    background-color: lightgreen;
    color: white;
    margin-top: 10px;
}

.nav:hover {
    box-shadow: grey 0 0 4px 1px;
}

.nav:active {
    box-shadow: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.card-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.card {
    width: 180px;
    background: lightgreen;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px 3px grey;
    cursor: pointer;
    margin-top: 20px;
}

.card:hover {
    box-shadow: 0px 0px 4px 2px grey;
}

.card:active {
    box-shadow: none;
}


/*#email {
    display: block;
    width: 100%;
    height: 30px;
    padding: 3px;
    border: solid #cfcfcf thin;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}*/

.button {
    display: block;
    width: 49%;
    color: white;
    background: lightgreen;
    border: 0;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0;
    font-size: 18px;
    text-align: center;
}

.button:hover {
    box-shadow: grey 0px 0px 4px 1px;
}

.button:active {
    box-shadow: none;
}

#mce-EMAIL {
    display: block;
    width: 49%;
    border-radius: 2px;
    height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

button:active {
    box-shadow: none;
}

.newsletter-box {
    color: grey;
    border: solid #cfcfcf 2px;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    width: 50%;
    margin-left: 25%;
}

.newsletter-box h3 {
    margin-top: 0px;
    text-align: center;
}

#terms {
    position: relative;
    top: 1px;
    left: 0px;
    /*margin: auto;*/
}

.closex {
    position: absolute;
    top: 0px;
    right: 1%;
    cursor: pointer;
}

#placeholder {
    width: 150%;
    height: 150%;
}

.ui-dialog-titlebar {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    width: 150%;
    text-align: center;
}

.questioncircle {
    color: white;
    font-size: 70px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 13px;
    background: lightgreen;
    border-radius: 50px;
    position: fixed;
    right: 1%;
    bottom: 1%;
    box-shadow: 0px 0px 5px 3px grey;
    cursor: pointer;
}

.questioncircle:hover {
    box-shadow: 0px 0px 4px 2px grey;
}

.questioncircle:active {
    box-shadow: none;
}

a {
    transition: color .4s;
    color: #265C83;
}

a:link,
a:visited {
    color: #265C83;
}

a:hover {
    color: rgb(197, 239, 255);
}

a:active {
    transition: color .3s;
    color: #007BE6;
}

.link {
    text-decoration: none;
}

img {
    width: 128px;
    height: 128px;
}


/*blockquote::before {
    content: '\201C';
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    color: white;
    position: relative;
    top: 75px;
    left: 10%;
    padding-top: 0px;
}*/

blockquote {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    color: white;
    max-width: 600px;
    width: 97%;
    background-color: #222;
    /*margin: auto;*/
    padding: 20px 40px 20px 45px;
    /*position: relative;*/
    /*right: 1%;*/
    /*border-left: 10px solid #222;*/
    /*text-align: center;*/
    box-sizing: border-box;
    line-height: 1.5em;
    margin-left: 10px;
}

blockquote:hover {
    /*color: #222;*/
    background-color: pink;
    cursor: pointer;
}

blockquote:active {
    color: #222;
}

;