body {
    /*background-color: #bc8f8f;*/
    font-family: 'Roboto', sans-serif;
    max-width: 700px;
}

.todos {
    max-width: 50%;
    height: 150px;
}

.line {
    text-decoration: line-through;
    color: grey;
}

ul {
    list-style-type: square;
    cursor: pointer;
}

button {
    border-radius: 10%;
    height: 2.1em;
}

h1 {
    text-align: center;
    margin: 25px;
}

h3 {
    text-transform: uppercase;
    text-align: center;
}