body {
    /*background-color: #bc8f8f;*/
    font-family: 'Roboto', sans-serif;
    width: 700px;
    margin: auto;
}

input {
    margin-left: 15px
}

.todos {
    max-width: 50%;
    height: 50%;
}

li {
    font-size: 1.3em;
    font-weight: 300;
}

.line {
    text-decoration: line-through;
    color: grey;
}

ul {
    list-style-type: square;
    cursor: pointer;
}

button {
    border-radius: 10%;
    height: 2.1em;
}

h1 {
    /*text-align: center;*/
    margin: 25px;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    margin-right: 50%;
}

.remove-button {
    align-content: center;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: auto;
}

#remove-b {
    margin-right: 20px;
}