body {
    max-width: 1280px;
    font-family: 'Balsamiq Sans', cursive;
}

.main {
    width: 50%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

#gameArea {
    width: 50%;
    margin: auto;
    right: 5%;
    margin-top: -30px;
    text-align: center;
}

#result {
    width: 50%;
    margin: auto;
    color: red;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

#play {
    border-radius: 25%;
    height: 2em;
    width: 100px;
}

input,
button {
    margin-top: 10px;
}

.wtfball {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 70px;
}